{{ block "index" . }}
<!DOCTYPE html>
<html lang="en">
    <head>
        <title>KCD Digital Herbarium</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="apple-touch-icon" sizes="60x60" href="static/favicon/apple-touch-icon.png">
        <link rel="icon" type="imagestatic/favicon/png" sizes="32x32" href="static/favicon/favicon-32x32.png">
        <link rel="icon" type="imagestatic/favicon/png" sizes="16x16" href="static/favicon/favicon-16x16.png">
        <link rel="manifest" href="static/favicon/site.webmanifest">
        <link rel="mask-icon" href="static/favicon/safari-pinned-tab.svg" color="#5bbad5">
        <meta name="msapplication-TileColor" content="#da532c">
        <meta name="theme-color" content="#ffffff">

        <script src="https://cdn.jsdelivr.net/npm/@unocss/runtime"></script>
        <script src="https://unpkg.com/htmx.org@1.9.10"></script>
        <style>
        .htmx-request {opacity: 1}
        </style>
    </head>

    <body class="font-sans bg-slate-800">
        <main>
            <header class="h-12 flex items-center">
                <div class="mx-auto w-fit flex">
                    <div
                        class="cursor-pointer block rounded w-6 h-6 p-1 mr-2 hover:bg-slate-700"
                        hx-get="/"
                        hx-triger="click"
                        hx-indicator="#spinner"
                        hx-target="body"
                        hx-swap="innerHTML"
                        hx-push-url="true">
                        <img class="invert" src="/static/arrow-left.svg">
                    </div>
                    <input type="search" name="key" placeholder="Start Searching..." autofocus
                        class="w-76 h-8"
                        hx-get="/search"
                        hx-trigger="keyup changed delay:200ms"
                        hx-indicator="#spinner"
                        hx-target="#search-results"
                        hx-swap="innerHTML"
                    >
                    <div class="block w-0 h-0">
                        <img id="spinner" 
                            class="relative top-1 right-8 opacity-0 animate-spin" src="/static/loader.svg">
                    </div>
                </div>
            </header>
            <section 
                class="flex flex-row flex-wrap gap-2 justify-center"
                id="search-results">

                {{ if eq .Type "potion" }}
                    {{ template "potionDetail" . }}
                {{ else if eq .Type "ingredient" }}
                    {{ template "ingredientDetail" . }}
                {{ end }}

            </section>
        </main>
    </body>
</html>
{{ end }}

{{ define "ingredientDetail"}}
<div
    class="w-1/3 h-fit p-4 rounded shadow-md shadow-bg-800 bg-slate-700 text-slate-200">
    <img src="/static/images/{{ .Name }}.webp">
    <h1 class="text-lg text-slate-200">{{ .Name }}</h1>
    <p>{{ .Description }}</p>
</div>

<div class="flex flex-col p-4 gap-2 w-1/3 rounded shadow-md shadow-bg-800 bg-slate-700 text-slate-200">
    <h1 class="text-xl">{{ .Name }} can be used to create:</h1>
    {{ range .IngredientFor }}
    <div class="cursor-pointer hover:bg-slate-500 hover:shadow-2xl p-2 rounded shadow-md shadow-bg-800 bg-slate-600 text-slate-200"
        hx-get="/potion/{{ .Name }}"
        hx-push-url="true"
        hx-target="section">
        <img src="/static/images/{{ .Name }}.webp">
        <h1 class="text-lg">{{ .Name }}</h1>
        <p>{{ .Description }}</p>
    </div>
    {{ end }}
</div>
{{ end }}

{{ define "potionDetail" }}
<div
    class="w-1/3 h-fit p-4 rounded shadow-md shadow-bg-800 bg-slate-700 text-slate-200">
    <img src="/static/images/{{ .Name }}.webp">
    <h1 class="text-lg text-slate-200">{{ .Name }}</h1>
    <p>{{ .Description }}</p>
</div>

<div class="flex flex-col p-4 gap-2 w-1/3 rounded shadow-md shadow-bg-800 bg-slate-700 text-slate-200">

    <h1 class="text-xl">The ingredients used in {{ .Name }}:</h1>
    {{ range .Recipe }}
    <div class="flex flex-row cursor-pointer hover:bg-slate-500 hover:shadow-2xl p-2 rounded shadow-md shadow-bg-800 bg-slate-600 text-slate-200"
        hx-get="/ingredient/{{ .Name }}"
        hx-push-url="true"
        hx-target="section">
        <img class="w-12 object-contain" src="/static/images/{{ .Name }}.webp">
        <h1 class="text-lg ml-4">{{ .Amount }}x {{ .Name }}</h1>
    </div>
    {{ end }}
</div>
{{ end }}
